@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v28/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
* body {
  background-color: steelblue;
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
* body .container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}
* body .container h1 {
  text-align: center;
  margin-bottom: 30px;
}
* body .container a {
  text-decoration: none;
  color: lightblue;
}
* body .container .form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
* body .container .form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
* body .container .form-control input:focus,
* body .container .form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
* body .container .form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
* body .container .form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
* body .container .form-control input:focus + label span,
* body .container .form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
* body .container .btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
* body .container .btn:focus {
  outline: 0;
}
* body .container .btn:active {
  transform: scale(0.98);
}
* body .container .text {
  margin-top: 30px;
}
